.search {
    display: flex; 
}

.form-control {
    height: 4rem;
    position: relative;
    font-size: 1.5rem;
    font-weight: 200;
    border: none;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none!important;
    border-color: #ced4da!important;
}

.search__button {
    border: none;
}

.search__button:focus  { 
    outline: none; 
}
  
.search__button:active   { 
    transform: translateY(2px);
}

.search-icon {
    font-size: 2.5rem;
    display: inline-block;
    margin-left: .8rem;
    margin-top: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    color: #9e9e9e;
    padding: .7rem;
    border-radius: 50%;
}

.fa-search:before {
    content: "\f002";
    -webkit-text-stroke: 3px white;
}
